PORT=4000
CORS_ORIGIN=http://10.30.4.23:4000
BC_ODATA_BASE_URL=http://10.30.7.14:2448/BC240/ODataV4/Company('HIJRA%20BANK')/
BC_SOAP_CODEUNIT_URL=http://10.30.7.14:2447/BC240/WS/HIJRA%20BANK/Codeunit/CuStaffPortal
BC_SOAP_PAGE_BASE_URL=http://10.30.7.14:2447/BC240/ODataV4/Company('HIJRA%20BANK')/
BC_SOAP_NAMESPACE=urn:microsoft-dynamics-schemas/codeunit/CuStaffPortal
BC_AUTH_MODE=basic
BC_DOMAIN=
BC_NAV_USER=Admin
BC_NAV_PASSWORD=CHANGE_ME_ON_SERVER
SESSION_SECRET=hijra-self-service-dev-secret-change-me
SESSION_COOKIE_SAMESITE=lax
SESSION_COOKIE_SECURE=false
HOD_GRANT_ALL_AUTHENTICATED=true
BC_DISCOVER_ODATA_SERVICES=false
BC_SALARY_BASE_FIELD=Basic_Pay
BC_SALARY_LOOKUP_SERVICE=
HOD_OVERRIDE_EMPNOS=
CEO_OVERRIDE_EMPNOS=
HOST=0.0.0.0
PORTAL_STATIC_DIR=public
JWT_SECRET=b6355f1eaf6ac090889cc8f0591a1fde07f926f1611868a31d55b6f10b4fdc95
JWT_TTL_SECONDS=28800
LOG_API_REQUESTS=true
LOG_BC_REQUESTS=true
BC_LOG_FILE=bc-integration.log
